.EntryCreatorFields {
    display: block;
}

.InputContainer * {
    padding: 0px 4px 0px 4px;
}

.EntryCreatorContainer {
    background-color: lightsteelblue;
    display: inline-block;
    padding: 0px 5px 0px 5px;
    border: 2px solid steelblue;
    box-shadow: 2px 2px rgb(182, 177, 177);
    margin: 5px 10px 5px 10px;
}

.InputContainer {
    display: inline-flex;
    margin: 5px 10px 5px 10px;
}

.SubmitEntryButton {
    margin: 0px 0px 5px 0px;
}