.MainMenu {
    background-color: greenyellow;
    width: 100%;
    height: 20%;
    margin: 0px;
    padding: 0px;
}

.TitleContainer {
    background-color: greenyellow;
    width: 100%;
    height: 80%;
    display: block;
}

.MenuBar {
    background-color: green;
    width: 100%;
    height: 20%;
    display: block;
}

.ShowLogButton {
    margin: 0 auto;
    width: 10%;
}
  